@import '../../theme/styles';
@import '../../theme/widgets/widgets-left';

.widget {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);
}

.header {
  background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);
}

.menu {
  width: 225px;
  background-image: linear-gradient(to top left, $color-lime, $color-yellow);
  &__layout {
    width: 167px;
    border-bottom: 2px solid $color-pink;
  }
  &__links {
    background-image: linear-gradient(to top left, $color-lime, $color-yellow);
    float: none;
    text-align: center;
  }
  &__links &__layout {
    width: 195px;
    border-bottom: none;
    padding: 10px 0 14px;
    border-top: 2px solid $color-pink;
  }
}