@import "../../theme/styles";
@import "../../theme/widgets/widgets-left";

.widget {

  vertical-align: top;
  width: auto;
  background: none;
  box-shadow: none;

  &__footer {
    background: none !important;
    padding-top: 3px;
  }

  &__footer &__link{
    color: $color-black;
    font-size: #{$font-size - 2px};
    margin-left: 5px;
    border-bottom: none;
  }

  &__footer  &__link:before{
    padding: 0;
    margin-right: 3px;
    content:'';
    width: 15px;
    height: 15px;
    background: url($base-url + 'img/widgets/logo_20x20_black.png') 0 2px no-repeat;
    background-size: 13px 13px;
    display: inline-block;
    vertical-align: top;
  }

  &__footer &__date{
    float: right;
    margin-right: 5px;
    padding-top: 2px;
    color: $color-black;
    font-size: #{$font-size - 2px};
  }


}

.menu {
  padding-left:15px;
  border-radius: 6px;
  min-height: 58px;
  box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
  background-image: linear-gradient(to top left, $color-lime, $color-yellow);

  &__layout{
    border-bottom: 2px solid $color-pink;
  }

  &__header{
    padding-right: 10px;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
  }

  &__links {
    background-image: linear-gradient(to top left, $color-lime, $color-yellow);
  }
}

.calendar {

  width: auto;
  margin:0;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
  font-size: 0;

  &__item {
    padding: 13px 13px;
    display: inline-block;
    vertical-align: top;
  }

  &__item{
    background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);
  }
}

.card {
  &__number{
    padding:0;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-top: 21px;
    min-width: 36px;
    text-align: center;
    font-size: $font-size+4px;
  }

  &__number &__degree{
    font-size: $font-size;
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
  }

  &__img{
    position: static;
  }
}