@import "../../theme/styles";
@import "../../theme/widgets/widgets-right";

.widget {
  width: 120px;
  background-image: linear-gradient(to bottom, $color-orange, $color-light-orange);

  &__title{
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
  }

  &__layout {
    margin-left: 0;
    padding: 5px 0;
    text-align: center;
    color: $color-black;
  }

  &__footer &__layout{
    padding-right: 0;
  }

  &__description{
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
    font: 100 #{$font-size - 2px} / 1 $font-roboto;
    color: $color-black;
    margin: 0;
  }

  &__icon {
    top: -40px;
  }

  &__date {
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
    font: 400 #{$font-size - 4px} / 1 $font-roboto;
    color: $color-white;
  }

  &__title{
    color: $color-black;
    font-size: #{$font-size - 2px};
  }

  &__footer{
    background-image: linear-gradient(to top left, $color-orange, $color-light-orange);
    color: $color-black;
  }

  &__footer &__link{
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
    font-size: #{$font-size - 3px};
    font-weight: 400;
    margin:0 auto;
    padding-top: 2px;
    color: $color-black;
    border-bottom: none;
  }

  &__footer &__link:before{
    padding: 0;
    margin-right: 3px;
    content:'';
    width: 14px;
    height: 14px;
    background: url($base-url + 'img/widgets/logo_20x20_black.png') 0 0 no-repeat;
    background-size: 14px 14px ;
    display: inline-block;
    vertical-align: top;
  }
}

.weather {
  width: 120px;
  background: $color-white;

  &__layout {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 98px;
  }

  &__temperature {
    padding-left: 6px;
    margin-top: 15px;
    margin-bottom: 14px;
    width: 57px;
    text-align: center;
    font-size: #{$font-size * 2 + 2px};
  }

}

.table {
  background: $color-white;
}