.widgetTitle {
  text-align: center;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px auto;

  & > div {
    margin-right: 15px;
  }
}