@import "../../theme/styles";
@import "../../theme/widgets/widgets-right";

.widget {

  background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);

  &__title{
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
  }

  &__description{
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
    font: 100 #{$font-size} / 1 $font-roboto;
    color: $color-white;
    margin:0;
  }

  &__icon {
    top: -40px;
  }

  &__link{
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
  }

  &__date {
    filter: drop-shadow(1px 0 2px rgba(0,0,0,0.4));
    font: 400 #{$font-size - 4px} / 1 $font-roboto;
    color: $color-white;
  }

  &__title{
    color: $color-white;
  }

  &__footer{
    background-image: linear-gradient(to top, $color-light-blue1, $color-light-blue2);
    color: $color-white;
  }

  &__footer &__link{
    font: 600 #{$font-size + 6px} / 1 $font-roboto;
    color: $color-white;
    text-decoration: none;
    padding-left: 3px;
    border-bottom: none;
  }

  &__footer &__link:before{
    content:'';
    width: 23px;
    height: 20px;
    background-size: 20px 20px ;
    background: url($base-url + 'img/widgets/logo_white.png') 0 0 no-repeat;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
  }

}

.weather {

  background-image: linear-gradient(to top left, $color-lime, $color-yellow);

  &__icon {
    top: -20px;
    background-image: linear-gradient(to bottom, $color-light-blue1, $color-light-blue2);
  }

  &__temperature{
    text-align: center;
  }

}

.table {
  background-image: linear-gradient(to top, $color-green, $color-light-green);
}